# Compiled Java classes
*.class

# IDE and build folders
.vscode/
.idea/
out/
bin/
target/
build/

# Eclipse/IntelliJ project files
.classpath
.project
.settings/
*.iml

# MacOS
.DS_Store

# Logs
*.log
